.annotated-image {
  position:relative;
}
.annotation {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  top: 4%;
  left: 4%;
  text-align: center;
}
.annotation p {
  padding: 5px;
}

