---
layout: post
title: Theme development
---

Looking at vacant spaces between buildings, abandonded plots, reclaimed spaces or well established community growing and permaculture initiatives. Thinking about the users of communal spaces and the 'problem' we are trying to think around.

{% include bootstrap-card-text-image.html file="/images/rewilding-article.jpg" alt="Rewilding" 
cardtitle="Passive rewilding" cardtext="Found this interesting article about passive rewilding... what happens to abandoned farmland after it's been depleted, or disaster zones (e.g. Chernobyl). The land freed up by vertcal farming could be turned back over to nature" %}

## Thinking about the users
{% include bootstrap-card-text.html cardtitle="Barriers to small scale food production in urban spaces?" cardtext="Equipment
| Interest | Knowledge | Time | Resource | Money | Land / space" %}
{% include bootstrap-card-text.html cardtitle="Barriers to small scale food production in urban spaces? Pain points in current ‘black box’ system?" cardtext="Collection/sourcing/transportation of food Inequality of food distribution (the most vulnerable don’t get the freshest healthiest foods) | Cost
Time to prepare fresh / raw foods | Food spoiling | Food selection with delivery services such as box schemes. Not as selective as we would be when choosing items for our fridge (they sell older produce first whereas we would buy the freshest looking lettuce)" %}
{% include bootstrap-card-text.html cardtitle="Conduct a small survey among friends?" cardtext="What’s the worst thing about getting food from the supermarket to the fridge? | Have you ever grown your own food? | No: What stopped you? | Yes: What problems did you face?" %}

## Vacant urban spaces
{% include bootstrap-card-image.html file="/images/sydenham-plot1.jpg" alt="Photo of an allotment" %}
{% include bootstrap-card-image.html file="/images/sydenham-plot2.jpg" alt="Photo of an allotment" %}
{% include bootstrap-card-image.html file="/images/sydenham-plot3.jpg" alt="Photo of an allotment" %}
{% include bootstrap-card-image.html file="/images/sydenham-allotment.jpg" alt="Photo of an allotment" %}
{% include bootstrap-card-image.html file="/images/dacres-road-nature-reserve.jpg" alt="Photo of an raised beds at Dacres Road Nature Reserve, SE23" %}




