---
layout: post
title: Physical computing and theme development
---

Looking at vacant spaces between buildings, abandonded plots, reclaimed spaces or well established community growing and permaculture initiatives

{% include bootstrap-card-text-image.html file="/images/rewilding-article.jpg" alt="Rewilding" 
cardtitle="Passive rewilding" cardtext="" %}

{% include bootstrap-card-image.html file="/images/sydenham-plot1.jpg" alt="Photo of an allotment" %}
{% include bootstrap-card-image.html file="/images/sydenham-plot2.jpg" alt="Photo of an allotment" %}
{% include bootstrap-card-image.html file="/images/sydenham-plot3.jpg" alt="Photo of an allotment" %}
{% include bootstrap-card-image.html file="/images/sydenham-allotment.jpg" alt="Photo of an allotment" %}
{% include bootstrap-card-image.html file="/images/dacres-road-nature-reserve.jpg" alt="Photo of an raised beds at Dacres Road Nature Reserve, SE23" %}
