<section class="header4 cid-qvba3RB6Ut mbr-parallax-background" id="header4-7f" data-rv-view="4997" data-jarallax-original-styles="null" style="z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(107, 230, 221);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="media-content col-md-10">
                <h2 class="mbr-section-title align-center mbr-white pb-3 mbr-bold mbr-fonts-style display-1">
                    INTRO WITH IMAGE
                </h2>
                
                <div class="mbr-text align-center mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-5">
                        Intro with background image, color overlay and a picture at the bottom. Mobirise helps you cut down development time by providing you with a flexible website editor with a drag and drop interface.
                    </p>
                </div>
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-primary display-4" href="https://mobirise.com">LEARN MORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.com">LIVE DEMO</a>
                </div>
            </div>
        
            <div class="mbr-figure pt-5" style="width: 60%;">
                <img src="images/clem-onojeghuo-206825-2000x1422.jpg" alt="Mobirise" title="" media-simple="true">
            </div>
        </div>
    </div>
<div id="jarallax-container-2" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;file:///Users/anaweller/Desktop/development/node-homepage/images/letizia-bordoni-252913-2000x1333.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1971.09px; height: 1313.73px; overflow: hidden; pointer-events: none; margin-left: -265.545px; margin-top: -496.366px; visibility: visible; transform: translate3d(0px, 265.866px, 0px);"></div></div></section>
